version: 0.1
log:
  level: info

storage:
  filesystem:
    rootdirectory: /var/lib/registry

http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]

# Enable proxy mode to automatically download and cache images from Docker Hub
proxy:
  remoteurl: https://registry-1.docker.io
